#splash{
    background-image: url(/assets/images/splash-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 653px;
    position: relative;

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: rgba(117,200,170,1.00)!important;
}

@media (max-width:991px) {
    .navbar{
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
    }
}

.text-button-middle{
    position: absolute;
    bottom: 200px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    background: rgba(117,200,170,.80);
    padding: 20px 20px;
    max-width: 675px;
    border-radius: 30px;


}

.logo{
    max-width: 100%;
}

@media (max-width:768px) {
    .logo{
        width:150px;
    }

}

.arrow-left{
    position: absolute;
    bottom: 300px;
    color: white;
    font-size:35px;
    left: 2%;
}

.arrow-right{
    position: absolute;
    bottom: 300px;
    color: white;
    font-size:35px;
    right: 2%;
}

@media (max-width:700px) {
    .text-button-middle{
        max-width: 350px;
        bottom: 50px;
    }

}

@media (max-width:768px) {
    #splash{
        padding-bottom: 600px;
        background-position: left;
    }

    .arrow-left{
        bottom: 115px;
        font-size:20px;
        left: 7%;

    }

    .arrow-right{
        bottom: 115px;
        font-size:20px;
        right: 7%;
    }

}

.btn-blossom{
color: rgba(112,112,112,1.00);
background-color: white;
border-radius: 2.4rem;
border: 3px solid rgba(117,200,170,1.00);

}

.btn-blossom:hover{
    color: white;
    background-color: rgba(117,200,170,1.00);
    border-color: white;

}

#get-yours-today{
        background-image: url(/assets/images/subscribe-background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 400px;
        position: relative;

}

.text-button-middle-get-yours{
    position: absolute;
    bottom: 100px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    background: rgba(117,200,170,.80);
    padding: 20px 20px;
    max-width: 675px;
    border-radius: 30px;


}

@media (max-width:768px) {
    .text-button-middle-get-yours{
        max-width: 350px;
        bottom: 50px;
    }

}

.border-bottom{
    border-bottom: 6px solid rgba(117,200,170,1.00)!important;

}

.no-r-pd{
    padding-right: 0px!important;
}

.btn-tab{
    border-radius: 5px 5px 0px 0px;
}


.btn-tab:hover, .btn-tab:active, .btn-tab:focus{
    /*color: #fff;
    background-color: rgba(117,200,170,1.00);*/
    border-color: none;
    box-shadow: none!important;
}

.btn-tab:hover{
    color: #fff;
    background-color: rgba(112,112,112,1.00);
    border-color: none;
    box-shadow: none!important;
}
.btn-tab-active{
    color: #fff!important;
    background-color: rgba(117,200,170,1.00);
}

.btn:focus{
    box-shadow: none!important;

}

#realwed-pane, #vendors-pane{
    display: none;
}

.btn-gallery{
    color: #fff!important;
    background-color: rgba(117,200,170,1.00);
    border-color: none;
    box-shadow: none!important;
    margin: 8px 5px 8px 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 0px!important;
}


.btn-gallery:hover, .btn-gallery:active, .btn-gallery:focus{
    border-bottom: 3px solid white;
    margin: 8px 5px 5px 5px;

}

@media (max-width:768px) {
    .img-res{
        width:100%;
        padding:20px;

    }

    .btn-blossom{
        margin-top: 20px;
    }




}

@media (max-width:991px) {
    .mg-bt-res{
        margin-bottom: 20px;
    }
}

.footer-img{
    display: block;
    margin-top:20px;

}

.footer-list:hover{
    text-decoration: none;
}


@media (max-width:768px) {
    .center-res{
        text-align: center;
    }
}


#shadow-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 85vw;
    max-height: 98vh;
    z-index:2;
    display: none;

}

#shadow-box-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

#shadow-img{
    max-width: 85vw;
    max-height: 98vh;

}

.all img{
    cursor: pointer;
}

#shadow-left, #shadow-right{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
    font-size: 50px;
    color: white;
    cursor: pointer;

}

#shadow-left{
    left: -70px;
}

#shadow-right{
    right: -70px;
}

#close-icon-shadow{
    height: 50px;
    width: 50px;
    position: absolute;
    top:3%;
    font-size: 50px;
    color: white;
    right: 2%;
}

@media (max-width:768px) {
    #shadow-left, #shadow-right{
        height: 25px;
        width: 25px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:auto;
        font-size: 25px;
        color: white;
        cursor: pointer;

    }

    #shadow-left{
        left: 7px;
    }

    #shadow-right{
        right:7px;
    }

    #close-icon-shadow{
        height: 25px;
        width: 25px;
        position: absolute;
        top:3%;
        font-size: 25px;
        color: white;
        right: 2%;
    }

    #shadow-box{
        max-width: 100%;
    }
}



#shadow-close{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0
    right:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    display: none;
}
